   p 
   {
    font-family: roboto,arial;
    margin-top: 0px;
    margin-bottom: 0px;
   }
   .thumbnail
      {
        width: 300px;
        cursor: pointer;
      }
      .channelProfile
      {
        cursor: pointer;
        border-radius: 30px;
        width: 40px;
        margin-top: 10px;
      }
      .SearchBar
      {
        display: block;
        font-size: 20px;
        margin-left: 10px;
      }
      .videoDescription
      {
        width: 250px;
        cursor: pointer;
        vertical-align: top;
        margin-top: 10px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }
      .videoAuthur
      {
        font-size: 12px;
        color: rgb(96, 96, 96);
        cursor: pointer;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      .videoDate
      {
        font-size: 12px;
        color:  rgb(96, 96, 96);
        vertical-align: top;
      }
      .videoInfo
      {
        display: inline-block;
        width: 200px;
        vertical-align: top;
      }
      .channelPicture
      {
        display: inline-block;
        width: 50px;
        vertical-align: top;
      }
      .div1
      {
        display: inline-block;
        width: 300px;
        vertical-align: top;
        margin-right: 15px;
      }
      
      

