   .thumbnail
      {
        width: 300px;
        cursor: pointer;
      }
      .SearchBar
      {
        display: block;
        font-size: 20px;
        margin-left: 10px;
      }
      .videoDescription
      {
        cursor: pointer;
      }
      .videoAuthur
      {
        cursor: pointer;
      }
      .videoDate
      {
        display: block;
      }
      .div1
      {
        display: inline-block;
        width: 300px;
        vertical-align: top;
        margin-right: 15px;
      }
      
      

